html,
        body {
            height: 100%;
            width: 100%;
            font-family: sans-serif;
            text-align: center
        }
        h1 {
            font-size: 100px
        }
        h2 {
            font-size: 50px
        }
        h3 {
            font-size: 25px
        }
           font-size: 10px
        }
        p {
            font-size: 25px
        }
        /*
        button {
            border-width: 15px;
            border-style: solid;
            border-color: gray;
            background-color: rgb(255, 85, 85);
            padding: 32px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 50%;
            height: 100px;
            width: 100px;
        }
        */
        button:hover {
            background-color: black;
            color: rgb(255, 85, 85);
            cursor: pointer;
        }
        button{
			background-color: red;
			border-radius: 50%;
            border: none;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			height: 100px;
			margin: 30px;
			width: 100px;
			transition: all .1s linear;
		}

.blink {
        animation: blinker 0.6s linear infinite;
        color: #ffffff;
        font-size: 150px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }