html,
        body {
            height: 100%;
            width: 100%;
            font-family: sans-serif;
            text-align: center;
            color: rgb(0,0,0);
        }
        h1 {
            font-size: 100px
        }
        h2 {
            font-size: 50px
        }
        h3 {
            font-size: 25px
        }
        p {
            font-size: 25px
        }
        a {
            font-size: 25px;
        }
        #rickroll:hover {
            background-color: black;
            color: rgb(255, 85, 85);
            cursor: pointer;
        }
        #rickroll {
			background-color: red;
			border-radius: 50%;
            border: none;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			height: 100px;
			margin: 30px;
			width: 100px;
			transition: all .1s linear;
		}

.blink {
        animation: blinker 0.6s linear infinite;
        color: #ffffff;
        font-size: 150px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
#settings-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0,0,0)
}

#settings-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-out;
  z-index: 2
}
#settings-menu.open {
  right: 0;
}

#close-button {
  top: 20px;
  right: 0px;
  padding: 10px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0,0,0)
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}
#overlay.open {
  opacity: 1;
  pointer-events: auto;
}

#reset-settings {
    background-color: #528CFF;
    padding: 5px;
    color: #ffffff;
}